doctype html
html(lang="en")

  head

    title Event RSVP Form
  
  body
    .container
     h1 Thank you for your response!
    form(action="/guest" method="GET")
      input(type="submit" value="Guest List")

      